@charset "UTF-8";

:root {
/*root é uma função usada para configurar uma paleta de cores pré-definida identificadas com o código "--cor'n'" em assossiação com a função "var(--cor'n')"*/
    --cor0:#15261A;
    --cor1:#97D1A7;
    --cor2:#4DD175;
    --cor3:#09E046;
    --cor4:#20BD0D;
    --cor5:#f0f8ff;
}

.site {
    height: 100%vh;
    /*background-color: rgb(65, 65, 66);
    background-image: url('imagens/Sem\ título3.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    background: rgb(65, 65, 66) url(imagens/Sem\ título3.png) center center no-repeat fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.conteudo {
    flex-grow: 1;
}

#just {
    text-align: justify;
}

.sum a {
    font-weight: bold;
    color: var(--cor0);
    text-decoration: none;
    text-align: left;
}

.sum > a:hover {
    color: var(--cor4);
    text-decoration: underline;
    animation-delay: 0,5ms;
    animation-duration: 0,5ms;
    background-color: var(--cor0);
}

.ilu {
    display: block;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top, var(--cor3), var(--cor5));
    margin-top: 0px;
    border: auto;
    margin: auto;
    padding: 0px;
}

.cite {
    margin-inline-start: 80px;
    margin-inline-end: 0px;
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    text-align: center;
    border: 0px;
    margin: 0px;
}

header img {
    max-width: 400px;
}

.profile {
    text-align: center;
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid var(--cor4);}
}

nav {
    color: var(--cor0);
    padding: 0px;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.363);
}

nav ul {
    color: var(--cor0);
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    padding: 5px;
    margin: 0px;
}

nav a {
    font-weight: bold;
    color: var(--cor0);
    text-decoration: none;
}

a:hover {
    color: var(--cor4);
    text-decoration: underline;
    animation-delay: 0,5ms;
    animation-duration: 0,5ms;
}

.cab > li:hover {
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    background-color: var(--cor0);
}

.sum > li:hover {
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    background-color: var(--cor0);
}

main {
    background-color: var(--cor5);
    border-top: 0px;
    min-width: 300px;
    max-width: 1000px;
    padding: 10px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.363);
    image-resolution: 100%;
}

.int > a {
    color: var(--cor2);
    border-radius: 5px;
    padding: 5px;
    border: 0px;
}

.int {
    color: var(--cor0);
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.int a {
    font-weight: bold;
    color: var(--cor0);
    text-decoration: none;
}

.int > a:hover {
    color: var(--cor4);
    text-decoration: underline;
    animation-delay: 0,5ms;
    animation-duration: 0,5ms;
    background-color: var(--cor0);
}

footer {
    color: var(--cor4);
    background-color: var(--cor0);
    display: flex;
    justify-content: center;
    margin: 30px 0px 0px 0px;
    padding: 10px;
}

footer img {
    width: 40px;
    height: 40px;
    padding: 0px 40px;
}

footer p {
    border-radius: 5px;
    color: var(--cor4);
    text-align: center;
    margin: 0px;
}

footer p:hover {
    color: var(--cor0);
    font-weight: bold;
    background-color: var(--cor4);
    text-decoration: underline;
}

footer a {
    font-weight: bold;
    color: var(--cor4);
    text-decoration: none;
}